NEXT_PUBLIC_SUPABASE_URL=https://mkfsyohjrwlygyqxdttb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1rZnN5b2hqcndseWd5cXhkdHRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5NDgyMTgsImV4cCI6MjA4NzUyNDIxOH0.27A8DNYAlRrpS0wtm_D9oqS5YCoQHLyaGfA0LZU4lAY
ADMIN_PASSWORD=admin123